<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/2f916114-9cb7-4f28-8244-d2ffa16f8768/resourceGroups/HostApi/providers/Microsoft.Web/sites/OceanOfGameObjects</ResourceId>
    <ResourceGroup>HostApi</ResourceGroup>
    <ApiResourceId>/subscriptions/2f916114-9cb7-4f28-8244-d2ffa16f8768/resourceGroups/DefaultResourceGroup-CUS/providers/Microsoft.ApiManagement/service/OceanOfGameObjectsapi/apis/OceanOfGameObjects</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://oceanofgameobjects.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>e2cebbaf-6df7-41e9-815d-9ad4cf90c844</ProjectGuid>
    <MSDeployServiceURL>oceanofgameobjects.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>OceanOfGameObjects</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>True</EnableMsDeployAppOffline>
    <UserName>$OceanOfGameObjects</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>